main {
    display: flex;
    flex-direction: column;
    width: 1035px;
    margin: auto;
    background-color: rgb(229, 229, 229);
}

.top-container {
    height: 400px;
    background-color: aqua;
    width: inherit;
}

.top-container h1 {
    text-align: center;
}

.main-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.alcohol {
    margin: 20px;
    width: 305px;
    height: 420px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.link-img {
    cursor: pointer;
    height: 180px;
    width: 100%;
    border: solid 1px grey; 
}

.alcohol-content {
    margin: 20px;
}

.category-date {
    display: flex;
    font-family: 'Raleway', sans-serif
}

.category-date h5 {
    margin: 0 3px;
    color: grey;
}

.alcohol-content h2{
    text-align: left;
    margin: 15px auto;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

.alcohol-content h3{
    text-align: left;
    margin: 15px auto;
    width: inherit;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.link-alcohol {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    bottom: 55px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 0.87rem;
}

.line {
    background-color: orange;
    width: 40px;
    height: 2px;
}

.nav-panel {
    height: auto;
}

.pages {
    margin: 8px 0 8px 25px;
    color: dimgray;
}

.buttoms {
    margin: 8px 0 8px 25px;
}

.buttom-nav {
    height: 25px;
    width: 80px;
    border-radius: 8px;
    background-color: orange;
    color: dimgray;
    margin-right:15px;
    cursor: pointer;
}