* {
	margin: 0;
	padding: 0;
}

main {
    width: 1035px;
    margin: 0 auto 0 auto;
}

body {
	background-color: #2f2f2f;
	color: #b2b2b2;
	height: 100%;
}

*:before,
*:after {
	box-sizing: border-box;
}

.page {

	display: flex;
	overflow: hidden;
	flex-direction: column;
	height: 100%;
	margin: 5px auto;
}

header {
	width: 1035px;
	height: 65px;
	border: solid 1px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin: 15px;
	display: block;
	margin-left: 35px;
	cursor: pointer;
}

.top-menu {
	height: 80px;
	float: right;
	margin-right: 45px;
}

.top-menu ul li {
	list-style: none;
	float: left;
	text-align: center;
	margin: auto 22px auto 22px;
}

.top-menu ul li a {
	display: block;
	text-decoration: none;
	font-size: 22px;
    font-family: 'Libre Baskerville', serif;
	color: #e5e5e5;
	padding-top: 20px;
	cursor: pointer;
}

.top-menu ul li a:hover {
	text-decoration: underline orange;
}


.block-top-auth {
	width: 100px;
	float: right;
	height: 80px;
}

.block-top-auth p {
	margin-top: 9px;
	text-align: center;
	margin-bottom: 8px;
}

.block-top-auth a {
	text-decoration: none;
	color: orange;
	font-size: 15px;
	cursor: pointer;
}

.block-top-auth-profil {
	width: 100px;
	float: right;
	height: 80px;
}

.block-top-auth p {
	margin-top: 9px;
	text-align: center;
	margin-bottom: 8px;
}

.block-top-auth a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.block-top-auth a:hover {
	text-decoration: underline;
}

footer {
	margin: 0 auto;
	width: 1035px;
	height: 150px;
	display: flex;
	flex-direction: column;
}

.licence-block {
	text-align: center;
	font-size: 6px;
}

.contacts-block {
	width: auto;
	margin: 0 auto;
}

.contacts-block ul li {
	list-style: none;
	float: left;
	margin: 20px 8px 20px 8px;
}

.contacts-block ul li a {
	display: block;
	text-decoration: none;
}

.content {
	flex-grow: 1;
	overflow-y: auto;
	width: 1035px;
	margin: 0 auto;
}