.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/30215.jpg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-2 {
  width: 280px;
  height: 280px;
  margin: 110px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 45px;
  width: 45px;
  margin: 10px auto 0 548px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    min-height: 690px;
  }

  .u-section-1 .u-image-2 {
    width: 325px;
    margin-top: 146px;
    margin-left: 308px;
  }

  .u-section-1 .u-icon-1 {
    height: 37px;
    width: 37px;
    margin-top: 67px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-image-1 {
    min-height: 639px;
  }

  .u-section-1 .u-image-2 {
    width: 249px;
    margin-top: 150px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    height: 30px;
    width: 30px;
    margin-top: 53px;
    margin-left: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }

  .u-section-1 .u-image-2 {
    width: 233px;
    height: 114px;
    margin-top: 136px;
    margin-left: 154px;
  }

  .u-section-1 .u-icon-1 {
    height: 27px;
    width: 27px;
    margin-top: 43px;
    margin-left: 257px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    width: 196px;
    margin-top: 115px;
    margin-left: 72px;
  }

  .u-section-1 .u-icon-1 {
    height: 29px;
    width: 29px;
    margin-top: 10px;
    margin-left: 156px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 500px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 50px;
  padding-right: 50px;
}

.u-section-2 .u-line-1 {
  width: 45px;
  height: 5px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 86px auto 0 118px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: 40px 0 50px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/people-2591838_1920.jpg");
  min-height: 500px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-line-1 {
    width: 44px;
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 40px;
    margin-top: 45px;
  }

  .u-section-2 .u-text-1 {
    margin: 25px 22px 44px;
  }

  .u-section-2 .u-image-1 {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 460px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-line-1 {
    width: 44px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 45px;
  }

  .u-section-2 .u-image-1 {
    min-height: 460px;
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 500px;
  background-image: url("images/delicious-exotic-cocktail1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 500px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 50px;
  padding-right: 50px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px 0 0;
}

.u-section-3 .u-line-1 {
  width: 45px;
  height: 5px;
  transform-origin: left center 0;
  transform: rotate(360deg);
  margin: 40px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 40px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 44px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-image-1 {
    min-height: 480px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 45px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-line-1 {
    width: 40px;
    margin-top: 25px;
  }

  .u-section-3 .u-text-2 {
    margin: 25px 22px 44px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-3 .u-image-1 {
    min-height: 460px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 44px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 500px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 50px;
  padding-right: 50px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px 0 0;
}

.u-section-4 .u-line-1 {
  width: 45px;
  height: 5px;
  transform-origin: left center 0;
  transform: rotate(360deg);
  margin: 40px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 40px 0 50px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/cocktail-1535518_1920.jpg");
  min-height: 500px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-line-1 {
    width: 44px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 45px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-line-1 {
    width: 40px;
    margin-top: 25px;
  }

  .u-section-4 .u-text-2 {
    margin: 25px 22px 44px;
  }

  .u-section-4 .u-image-1 {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 460px;
    order: 1;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 44px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 45px;
  }

  .u-section-4 .u-image-1 {
    min-height: 460px;
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-image-1 {
  min-height: 500px;
  background-image: url("images/restaurant-690569_19201.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    min-height: 400px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 280px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 137px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  width: 106px;
  height: 85px;
  margin: 0 auto 0 26px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 136px;
  background-image: none;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 52px 37px 52px auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-line-1 {
  height: 6px;
  transform-origin: left center 0;
  margin: 1px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-6 .u-image-1 {
    width: 161px;
    margin-left: 21px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-right: 31px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-6 .u-image-1 {
    width: 123px;
    margin-left: 16px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-image-1 {
    width: 115px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
  }

  .u-section-6 .u-line-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 148px;
    height: 97px;
    margin-top: 20px;
  }
}