<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8">
	<title>Alcohol</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/alcohol.css}" href="../static/css/alcohol.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--    header-->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
	<div class="page">
		<header>
			<div class="logo">
				<a th:href="@{/}" href="index.html">
					<img th:src="@{images/default-logo.png}" src="../static/images/default-logo.png">
				</a>
			</div>

			<div sec:authorize="isAuthenticated()" class="block-top-auth">
				<p>Hello <a href="#" sec:authentication="name">name</a></p>
				<p><a href="#">Sing out</a></p>
			</div>

			<div sec:authorize="!isAuthenticated()" class="block-top-auth">
				<p><a href="#">Reg</a></p>
				<p><a href="#">Sing in</a></p>
			</div>

			<div class="top-menu">
				<ul>
					<li><a th:href="@{/}" href="index.html">Main</a></li>
					<li><a th:href="@{/alcohol}" href="alcohol.html">Alkohol</a></li>
					<li><a th:href="@{/cocktails}" href="cocktails.html">Cocktails</a></li>
				</ul>
			</div>
		</header>
        <main>
<!--            At deveopment           -->
            <div class="top-container">
                <h1>Top popular drinks</h1>
            </div>
            
            <div class="main-container">
                <div class="alcohol">
                    <a href="#" class="link-img"><img src="#"></a>
                    <div class="alcohol-content">
                        <span class="category-date">
                            <h5>01.01.2001</h5>
                            <h5>|</h5>
                            <h5>Category</h5>
                        </span>
                        <h2>Name</h2>
                        <h3>Something</h3>
                        <div class="link-alcohol">
                            <h4>MORE</h4>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="nav-panel">
                <div class="buttoms">
                    <button class="buttom-nav">previous</button>
                    <button class="buttom-nav">next</button>
                </div>
                <div class="pages">
                    <a>Total Pages : </a>
                    <a>null</a>
                    <a>;  Current Page : </a>
                    <a>null</a>
                </div>
            </div>
        </main>
        <footer>
            <div class="contacts-block">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/vitalik_skr" target="_blank"><img th:src="@{images/icons/instagram-icon.png}" src="../static/images/icons/instagram-icon.png"></a>
                    </li>
                      <li>
                        <a href="https://t.me/vitalik_skr" target="_blank"><img th:src="@{images/icons/telegram-icon.png}" src="../static/images/icons/telegram-icon.png"></a>
                    </li>
                      <li>
                        <a href="https://www.linkedin.com/in/vitalik-skr-6844981bb/" target="_blank"><img th:src="@{images/icons/linkedin-icon.png}" src="../static/images/icons/linkedin-icon.png"></a>
                    </li>
                      <li>
                        <a href="https://github.com/vitalik5212/ProBar" target="_blank"><img th:src="@{images/icons/github-icon.png}" src="../static/images/icons/github-icon.png"></a>
                    </li>
                </ul>
            </div>
            
			<div class="licence-block">
				<h1>@The open source project</h1>
			</div>
		</footer>
	</div>
</body>
</html>