<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>Cocktail page</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/cocktail.css}" href="../static/css/cocktail.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--    header-->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="page">
		<header>
			<div class="logo">
				<a th:href="@{/}" href="index.html">
					<img th:src="@{images/default-logo.png}" src="../static/images/default-logo.png">
				</a>
			</div>

			<div sec:authorize="isAuthenticated()" class="block-top-auth">
				<p>Hello <a href="#" sec:authentication="name">name</a></p>
				<p><a th:href="@{/logout}">Sing out</a></p>
			</div>

			<div sec:authorize="!isAuthenticated()" class="block-top-auth">
				<p><a th:href="@{/registration}">Reg</a></p>
				<p><a th:href="@{/login}">Sing in</a></p>
			</div>

			<div class="top-menu">
				<ul>
					<li><a th:href="@{/}" href="index.html">Main</a></li>
					<li><a th:href="@{/alcohol}" href="alcohol.html">Alkohol</a></li>
					<li><a th:href="@{/cocktails}" href="cocktails.html">Cocktails</a></li>
				</ul>
			</div>
		</header>
        <main>
            <h1 th:text="${cocktail.getName()}" class="name_cocktail">Name</h1>
            <div class="first-block">
                <div class="main-img">
                    <img src="#" th:src="${cocktail.getImage()}">
                </div>
                <div class="short-info">
                    <div class="short-text">
                        <h3 id="text-1">left</h3>
                        <h3 id="text-2">right</h3>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="info-block">
                <h3 th:text="${cocktail.getInfo()}">some info</h3>
            </div>
            <div class="ingredients-block" th:each="ingredient : ${cocktail.getAllIngredients()}">
                    <div class="ingredients-text">
                        <h3 th:text="${ingredient.getName()}" id="text-3">ingredient</h3>
                        <h3 id="text-4">0 ml</h3>
                    </div>
                    <div class="line-2"></div>
            </div>
            <div class="end-block">
            
            </div>
        </main>
		<footer>
			<div class="contacts-block">
				<ul>
					<li>
						<a href="https://www.instagram.com/vitalik_skr" target="_blank"><img th:src="@{images/icons/instagram-icon.png}" src="../static/images/icons/instagram-icon.png"></a>
					</li>
					<li>
						<a href="https://t.me/vitalik_skr" target="_blank"><img th:src="@{images/icons/telegram-icon.png}" src="../static/images/icons/telegram-icon.png"></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/vitalik-skr-6844981bb/" target="_blank"><img th:src="@{images/icons/linkedin-icon.png}" src="../static/images/icons/linkedin-icon.png"></a>
					</li>
					<li>
						<a href="https://github.com/vitalik5212/ProBar" target="_blank"><img th:src="@{images/icons/github-icon.png}" src="../static/images/icons/github-icon.png"></a>
					</li>
				</ul>
			</div>

			<div class="licence-block">
				<h1>@The open source project</h1>
			</div>
		</footer>
	</div>
</body>
</html>