<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<title>Cocktails</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/cocktails.css}" href="cocktails.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--    header-->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    
</head>

<body>
	<div class="page">
        <header>
            <div class="logo">
                <a th:href="@{/}" href="index.html">
                    <img th:src="@{images/default-logo.png}" src="../static/images/default-logo.png">
                </a>
            </div>

            <!-- 	<div th:if="!null" class="block-top-auth-profil">
                    <p><a href="#">Reg</a></p>
                    <p><a href="#">Sing in</a></p>
                </div> -->

            <div class="block-top-auth">
                <p><a href="#">Reg</a></p>
                <p><a href="#">Sing in</a></p>
            </div>

            <div class="top-menu">
                <ul>
                    <li><a th:href="@{/}" href="index.html">Main</a></li>
                    <li><a th:href="@{/alcohol}" href="alcohol.html">Alkohol</a></li>
                    <li><a th:href="@{/cocktails}" href="cocktails.html">Cocktails</a></li>
                </ul>
            </div>
        </header>
        <main>
<!--            At deveopment           -->
            <div class="top-container">
                <h1>Top popular cocktails</h1>
            </div>
            
            <div class="main-container">
                <div th:each="cocktail : ${cocktails}" class="cocktail">
                    <a href="#" class="link-img"><img th:src="${cocktail.getImage()}"></a>
                    <div class="cocktail-content">
                        <span class="category-date">
                            <h5>01.01.2001</h5>
                            <h5>|</h5>
                            <h5>Category</h5>
                        </span>
                        <h2 th:text="${cocktail.getName()}">Name</h2>
                        <h3 th:text="${cocktail.getInfo()}">Something</h3>
                        <div class="link-cocktail">
                            <h4>MORE</h4>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="nav-panel">
                <div class="buttoms">
                    <a th:if="${currentPage > 1}" th:href="@{'/cocktails?page=' + ${currentPage - 1}}"><button class="buttom-nav">previous</button></a>
                    <a th:if="${currentPage < amountPages}" th:href="@{'/cocktails?page=' + ${currentPage + 1}}"><button class="buttom-nav">next</button></a>
                </div>
                <div class="pages">
                    <a>Total Pages : </a>
                    <a th:text="${amountPages}">null</a>
                    <a>;  Current Page : </a>
                    <a th:text="${currentPage}">null</a>
                </div>
            </div>
        </main>
        <footer>
            <div class="contacts-block">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/vitalik_skr" target="_blank"><img th:src="@{images/icons/instagram-icon.png}" src="../static/images/icons/instagram-icon.png"></a>
                    </li>
                    <li>
                        <a href="https://t.me/vitalik_skr" target="_blank"><img th:src="@{images/icons/telegram-icon.png}" src="../static/images/icons/telegram-icon.png"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/vitalik-skr-6844981bb/" target="_blank"><img th:src="@{images/icons/linkedin-icon.png}" src="../static/images/icons/linkedin-icon.png"></a>
                    </li>
                    <li>
                        <a href="https://github.com/vitalik5212/ProBar" target="_blank"><img th:src="@{images/icons/github-icon.png}" src="../static/images/icons/github-icon.png"></a>
                    </li>
                </ul>
            </div>

            <div class="licence-block">
                <h1>@The open source project</h1>
            </div>
        </footer>
	</div>
</body>
</html>