<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8">
	<title>ProBar</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/index.css}" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="page">
		<header>
			<div class="logo">
				<a th:href="@{/}" href="index.html">
					<img th:src="@{images/default-logo.png}" src="../static/images/default-logo.png">
				</a>
			</div>

			<div sec:authorize="isAuthenticated()" class="block-top-auth">
				<p>Hello <a href="#" sec:authentication="name">name</a></p>
				<p><a href="#">Sing out</a></p>
			</div>

			<div sec:authorize="!isAuthenticated()" class="block-top-auth">
				<p><a href="#">Reg</a></p>
				<p><a href="#">Sing in</a></p>
			</div>

			<div class="top-menu">
				<ul>
					<li><a th:href="@{/}" href="index.html">Main</a></li>
					<li><a th:href="@{/alcohol}" href="alcohol.html">Alkohol</a></li>
					<li><a th:href="@{/cocktails}" href="cocktails.html">Cocktails</a></li>
				</ul>
			</div>
		</header>

		<div class="content">
            
			<div class="first-block">
				<img th:src="@{images/mainPage/logo.png}" src="../static/images/mainPage/logo.png">
			</div>

			<div class="block">
				<div class="text-block">
					<h1>Head</h1>
					<div></div>
					<h3 th:text="${text1}">text</h3>
				</div>
				<div class="image-block">
                <img th:src="@{images/mainPage/image-1.jpg}" src="../static/images/mainPage/image-1.jpg">
                </div>
			</div>

            <div class="block">
                <div class="image-block">
                    <img th:src="@{images/mainPage/image-2.jpg}" src="../static/images/mainPage/image-2.jpg">
                </div>
				<div class="text-block">
					<h1>Head</h1>
					<div></div>
					<h3 th:text="${text2}">text</h3>
				</div>
			</div>
            <div class="block">
				<div class="text-block">
					<h1>Head</h1>
					<div></div>
					<h3 th:text="${text3}">text</h3>
				</div>
				<div class="image-block">
                    <img th:src="@{images/mainPage/image-3.jpg}" src="../static/images/mainPage/image-3.jpg">
                </div>
			</div>

			<div class="end-block">
                <img th:src="@{images/mainPage/end-image.jpg}" src="../static/images/mainPage/end-image.jpg">
			</div>			
		</div>

		<footer class="main-footer">
            <div class="footer-block">
                <div class="logo-block">
                    <img th:src="@{images/small-logo.png}" src="../static/images/small-logo.png">
                </div>
                
                <div class="main-contacts-block">
				    <ul>
					   <li>
                           <a href="https://www.instagram.com/vitalik_skr" target="_blank"><img th:src="@{images/icons/black-instagram-icon.png}" src="../static/images/icons/black-instagram-icon.png"></a>
                        </li>
                        <li>
                            <a href="https://t.me/vitalik_skr" target="_blank"><img th:src="@{images/icons/black-telegram-icon.png}" src="../static/images/icons/black-telegram-icon.png"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/vitalik-skr-6844981bb/" target="_blank"><img th:src="@{images/icons/black-linkedin-icon.png}" src="../static/images/icons/black-linkedin-icon.png"></a>
                        </li>
                        <li>
                            <a href="https://github.com/vitalik5212/ProBar" target="_blank"><img th:src="@{images/icons/github-icon.png}" src="../static/images/icons/github-icon.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-line"></div>

			<div class="licence-block">
				<h1>@The open source project</h1>
			</div>
		</footer>
	</div>
</body>
</html>