<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>

<body>
 <div>
     <table>
         <tr>
             <td>Id</td>
             <td>Name</td>
             <td>Info</td>
         </tr>
         <tr th:each="cocktail : ${cocktails}">
             <td th:text="${cocktail.getId()}">Some text</td>
             <td th:text="${cocktail.getName()}">Some text</td>
             <td th:text="${cocktail.getInfo()}">Some text</td>
         </tr>
     </table>
 </div>
</body>
</html>